@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@500;600;700;800&display=swap");

:root {
  --bg-main: #fffdf3;
  --primary-50: rgba(226, 252, 217, 0.8);
  --primary-100: #c0fab4;
  --primary-200: #94f08b;
  --primary-300: #6be26b;
  --primary-400: #3ecf4c;

  --secondary-50: rgba(255, 247, 215, 0.8);
  --secondary-100: #ffecb0;
  --secondary-200: #ffdf88;
  --secondary-300: #ffd26b;
  --secondary-400: #ffbd3a;

  --tertiary-50: rgba(254, 232, 210, 0.8);
  --tertiary-200: #fca578;
  --tertiary-300: #f98256;
  --tertiary-400: #f64920;

  --text-d-primary: #222325;
  --text-d-secondary: rgba(51, 51, 51, 0.68);
  --text-d-disabled: rgba(58, 53, 65, 0.38);
  --text-l-primary: #ffffff;
  --text-l-secondary: #c1c2c4;
  --text-l-disabled: #9d9ea1;

  --bg-primary: #ffffff;
  --bg-base: #f4f5fa;
  --bg-secondary: #f9fafc;
  --bg-border: rgba(58, 53, 65, 0.12);

  --info-passed: #044aa2;
  --info-hover: #0663c2;
  --info-default: #0980e2;
  --info-bg: #ebf9fe;

  --succes-passed: #1c9675;
  --succes-hover: #28b380;
  --succes-default: #38d189;
  --succes-bg: #e0fddf;

  --warning-passed: #b5a40d;
  --warning-hover: #d8c613;
  --warning-default: #fce91b;
  --warning-bg: #fcf8ca;

  --error-passed: #b72315;
  --error-hover: #db3d1f;
  --error-default: #ff5c2b;
  --error-bg: #fce3d1;

  --gradients-info: linear-gradient(286.17deg, #004ce8 0%, #6f9eff 100%);
  --gradients-succes: linear-gradient(286.17deg, #00c247 0%, #73ffa6 100%);
  --gradients-warning: linear-gradient(286.17deg, #ffe16a 0%, rgba(255, 229, 128, 0.21) 100%);
  --gradients-error: linear-gradient(286.17deg, #ff3333 36.98%, #ff8a9b 100%);

  --gr-900: #212121;
  --gr-800: #424242;
  --gr-700: #616161;
  --gr-600: #757575;
  --gr-500: #9e9e9e;
  --gr-400: #bdbdbd;
  --gr-300: #e0e0e0;
  --gr-200: #eeeeee;
  --gr-100: #f5f5f5;
  --gr-50: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-main);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 150px 0px;
}

.login-form-container {
  position: relative;
  background: var(--bg-primary);
  border: 1px solid var(--bg-border);
  width: 590px;
  border-radius: 5px;
  padding: 36px;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-form {
  margin-top: 35px;
}

.login-form .input-box {
  width: 100%;
  margin-top: 20px;
}

.login-form .input-box input {
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid var(--bg-border);
  color: var(--text-d-primary);
  font-size: 18px;
  border-radius: 12px;
  padding: 17px;
  margin-top: 5px;
}

.input-box input:focus {
  border: 2px solid var(--bg-border);
}

.form-link a {
  display: flex;
  justify-content: end;
  margin: 15px;
  text-decoration: none;
}

.form-link a:hover {
  text-decoration: underline;
}

label {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.asterisk {
  color: var(--error-hover);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.login-btn button {
  width: 100%;
  margin-top: 10px;
}

.register-btn button {
  width: 100%;
  margin-top: 17px;
}

.form-line {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 23px;
}

.form-line::before,
.form-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--bg-border);
  margin-top: 5px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.form-column {
  display: flex;
  gap: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex:1;
}

.input-box:first-child {
  flex: 1;
}

.input-box:last-child {
  flex: 2;
}

.form-column .input-box:nth-child(2) label {
  visibility: hidden;
}

h1 {
  font-size: 48px;
  color: var(--text-l-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
  color: var(--text-l-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 32px;
  color: var(--text-d-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-size: 24px;
  color: var(--text-d-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-size: 18px;
  color: var(--text-d-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h6 {
  font-size: 32px;
  color: var(--text-l-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  line-height: 1.3;
}

.body-large-1 {
  font-size: 18px;
  color: var(--text-d-secondary);
  font-weight: 400;
  font-style: normal;
}

.body-large-2 {
  font-size: 18px;
  color: var(--text-l-primary);
  font-weight: 400;
  font-style: normal;
}

.body-large-3 {
  font-size: 18px;
  color: var(--text-l-secondary);
  font-weight: 400;
  font-style: normal;
}

.body-large-4 {
  font-size: 18px;
  color: var(--text-d-primary);
  font-weight: 700;
  font-style: normal;
}

.body-medium-1 {
  font-size: 16px;
  color: var(--text-d-primary);
  font-weight: 700;
  font-style: normal;
}

.body-medium-2 {
  font-size: 16px;
  color: var(--text-d-secondary);
  font-weight: 700;
  font-style: normal;
}

.body-medium-3 {
  font-size: 16px;
  color: var(--text-l-secondary);
  font-weight: 400;
  font-style: normal;
}

.body-small-1 {
  font-size: 14px;
  color: var(--text-d-secondary);
  font-weight: 700;
  font-style: normal;
}

.body-small-2 {
  font-size: 14px;
  color: var(--text-d-secondary);
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 80px;
  width: 100%;
  background: var(--bg-primary);
  border-bottom: 1px solid var(--bg-border);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 120px;
  height: 80px;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
  display: block;
  width: 194px; 
  height: auto;
}

.nav-avatar {
  cursor: pointer;
  display: block;
  width: 44px; 
  height: 44px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 26px;
  text-decoration: none;
}

.ham-menu {
  display: none;
}

.nav-items a {
  text-decoration: none;
  color: var(--text-d-secondary);
  transition: color 0.2s ease;
}

.nav-items a:hover {
  color: var(--gr-700);
}


.btn-media {
  background: var(--bg-primary);
  border: 1px solid var(--bg-border);
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  gap: 10px;
}

.btn-primary-1 {
  background: var(--primary-400);
  color: var(--text-l-primary);
  border: 2px solid var(--primary-400);
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-primary-2 {
  background: var(--primary-50);
  color: var(--primary-400);
  border: 2px solid var(--primary-50);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-primary-3 {
  background: var(--text-l-primary);
  color: var(--primary-400);
  border: 2px solid var(--primary-400);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-secondary-1 {
  background: var(--secondary-400);
  color: var(--text-l-primary);
  border: 2px solid var(--secondary-400);
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-secondary-2 {
  background: var(--secondary-50);
  color: var(--secondary-400);
  border: 2px solid var(--secondary-50);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-secondary-3 {
  background: var(--text-l-primary);
  color: var(--secondary-400);
  border: 2px solid var(--secondary-400);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-disabled-1 {
  background: var(--gr-400);
  color: var(--text-d-disabled);
  border: 2px solid var(--gr-400);
  padding: 10px 26px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-disabled-2 {
  background: var(--gr-300);
  color: var(--text-d-disabled);
  border: 2px solid var(--gr-300);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.btn-disabled-3 {
  background: var(--gr-300);
  color: var(--text-d-disabled);
  border: 2px solid var(--text-d-disabled);
  padding: 10px 26px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.cta-form {
  background: var(--bg-primary);
  color: var(--text-d-secondary);
  width: 525px;
  height: 58px;
  display: flex;
  flex-direction: row;
  padding: 8px 8px 8px 32px;
  border-radius: 12px;
  margin-top: 40px;
}

.cta-form input {
  width: 100%;
  background: none;
  border: 0;
  outline: none;
  display: flex;
  flex-direction: row;
}

.cta-form button {
  border: 0;
  width: auto;
  height: auto;
}

.cta-btn-mobile {
  display: none;
}

.section-container {
  max-width: auto;
  margin: auto;
  padding: 64px 120px 0px 120px;
  gap: 32px;
}

.hero-image-container {
  position: relative;
  min-height: 514px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/images/img5.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 100px 140px;
  gap: 30px;
}

.collection-header-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.collection-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.collection-nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin-bottom: 32px;
}

.collection-nav-item {
  text-decoration: none;
  padding: 16px 32px 16px 0px;
  position: relative;
}

.collection-nav-item:first-child {
  color: var(--tertiary-400);
}

.collection-nav-item:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--tertiary-400);
  display: inline-block;
  bottom: -4px;
  border-radius: 8px;
  width: 52px;
  height: 6px;
}

.collection-nav-item:not(:first-child)::after {
  content: none;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.collection-card {
  overflow: hidden;
  border: 1px solid rgba(58, 53, 65, 0.12);
  border-radius: 10px;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  padding: 18px;
  gap: 16px;
}

.collection-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 20px;
  gap: 6px;
}

.collection-card-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.card-user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.collection-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  font-size: 24px;
  color: var(--primary-400);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.cta-image-container {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/images/img7.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 82px 140px;
  gap: 5px;
}

.footer-section-container {
  padding: 64px 0px 0px 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 427px;
  width: 100%;
  background: var(--bg-primary);
  border-top: 1px solid var(--bg-border);
  padding: 60px 120px;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
}

.footer-header p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-header svg {
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-header {
  flex: 1;
}

.footer-list-mobile {
  display: none;
}

.footer-list p {
  margin-top: 0px;
  margin-bottom: 15px;
}

.footer-list {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  gap: 60px;
}

.footer-list-item {
  margin-top: 0px;
  margin-bottom: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid var(--bg-border);
  padding-top: 20px;
  margin-top: auto;
}

.footer-bottom span{
  display: none;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.footer-icons svg {
  width: 37px;
  height: 37px;
}


/* Responsive */
@media (max-width: 768px) {

  .header {
    height: 74px;
    box-shadow: 4px 8px 12px var(--bg-border),
    0px 0px 1px var(--bg-border);
  }

  nav {
    padding: 16px 24px;
    height: 74px;
  }

  .nav-items a {
    display: none;
  }

  .logo {
    width: 144px; 
  }
  
  .nav-avatar {
    display: none;
  }

  .ham-menu {
    display: block;
  }
  

  .login-section {
    padding: 28px 20px;
  }
  
  .login-form-container {
    padding: 20px;
  }

  .section-container {
    padding: 28px 20px 0px 20px;
    gap: 32px;
  }
  
  .hero-image-container {
    min-height: 400px;
  }
  
  .hero-content {
    padding: 35px 20px;
    gap: 14px;
  }

  h1 {
    font-size: 24px;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
  }
  
  h4 {
    font-size: 24px;
    font-weight: 600;
  }
  
  h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  h6 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
  }

  .body-large-1 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .body-large-2 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .body-large-3 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .body-large-4 {
    font-size: 14px;
    font-weight: 700;
  }
  
  .body-medium-1 {
    font-size: 14px;
    font-weight: 700;
  }
  
  .body-medium-2 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .body-medium-3 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .body-medium-4 {
    font-size: 16px;
    font-weight: 700;
  }
  
  .body-small-1 {
    font-size: 12px;
    font-weight: 700;
  }
  
  .body-small-2 {
    font-size: 12px;
    font-weight: 400;
  }

  .btn-primary-1 {
    padding: 10px;
    font-weight: 400;
    border-radius: 12px;
    font-size: 14px;
  }
  
  .btn-primary-2 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }
  
  .btn-primary-3 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }
  
  .btn-secondary-1 {
    padding: 10px 26px;
    border-radius: 12px;
    font-weight: 700;
  }
  
  .btn-secondary-2 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }
  
  .btn-secondary-3 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }
  
  .btn-disabled-1 {
    padding: 10px 26px;
    border-radius: 12px;
    font-weight: 700;
  }
  
  .btn-disabled-2 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }
  
  .btn-disabled-3 {
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 12px;
  }

  .collection-nav-item {
    padding: 12px 24px 12px 0px;
  }

  .collection-mobile {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .collection-text-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .collection-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .collection-image {
    width: 82px;
    height: 82px;
    object-fit: cover;
    border-radius: 10px;
  }

  .collection-card {
    padding: 16px;
    gap: 8px;
  }

  .card-avatar {
    width: 36px;
    height: 36px;
  }

  .collection-card-header {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .collection-card-header p {
    display: none;
  }
  
  .card-user-info p span {
    display: none;
  }

  .price {
    font-size: 20px;
  }
  
  .cta-image-container {
    min-height: 400px;
  }
  
  .cta-content {
    padding: 38px 20px;
    gap: 8px;
  }

  .cta-form {
    width: 280px;
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 10px 12px 10px 8px;
    border-radius: 12px;
    margin-top: 30px;
  }
  
  .cta-form input {
    width: 100%;
    background: none;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: var(--text-d-secondary);
    font-weight: 400;
    font-style: normal;
  }
  
  .cta-form button {
    display: none;
  }

  .cta-btn-mobile {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    width: 280px;
    height: 48px;
  }

  .footer-section-container {
    padding-top: 28px;
  }
  
  .footer {
    width: 100%;
    height: 400px;
    padding: 28px 20px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 0px;
  }
  
  .footer-logo {
    width: 170px;
    height: 36px;
  }

  .footer-header p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .footer-header svg {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .footer-header {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-list-mobile {
    display: block;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 0px;
  }
  
  .footer-list-item p {
    display: none;
  }

  .footer-bottom {
    flex-direction: column;
    padding-top:15px;
    margin-top: 0px;
  }

  .footer-bottom p{
    display: none;
  }
  
  .footer-bottom span{
    margin-top: 10px;
    display: block;
  }

  .footer-icons {
    gap: 15px;
  }
}
